<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <title>Orkut 2.0</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <a href="/postar">Postar</a>
            <a href="/posts">Meus Posts</a>
            <a href="/depoimentos">Depoimentos</a>
        </div>
        <div class="wrapper">
            <a href="/listar/usuarios">Usuarios</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <main>
        <h3>O que você está pensando hoje?</h3>
        <form method="POST" >
            <textarea name="post"></textarea>
            <button>Postar</button>
        </form>
</body>
</html>