<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <title>Orkut 2.0</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
    <nav>
        <div class="wrapper">
            <a href="/postar">Postar</a>
            <a href="/posts">Meus Posts</a>
            <a href="/depoimentos">Depoimentos</a>
        </div>
        <div class="wrapper">
            <a href="/listar/usuarios">Usuarios</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <main>
        <h1>Ola {{ user['nome']}}, aqui estão seus posts </h1>
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <div class="left-side">
                            <div class="post-id">
                                <p>#{{ post.id }}</p>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="time">
                                <p>{{ post.criado_em.strftime("%d/%m/%Y") }}</p>
                                <p>{{ post.criado_em.strftime("%H:%M") }}</p>
                            </div>
                        </div>
                        <i class="ph ph-trash" data-id="{{ post.id }}"></i>
                    </div>
                    <pre style="text-wrap: wrap;" class="content">{{ post.conteudo }}</pre>
                </div>
            {% endfor %}
        </div>
    </main>
    <script>
        const trashes = document.querySelectorAll(".ph-trash")
        trashes.forEach(trash => {
            trash.addEventListener('click', evento => {
                const id = trash.dataset.id
                if (id && confirm("Tem certeza?")){
                    fetch(`/post/${id}`, {method: 'DELETE'})
                        .then(resp => resp.json())
                        .then(json => console.log(json))
                        .then(document.location.reload())
                }
            })
        })
    </script>
</body>
</html>