:root{
    font-family: 'Poppins';
    --title: #FF7B89;
    --body: #fef8ee
}



/* #76c893 */
body{
    background-color: var(--body)
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 48px;
    margin-top: 80px;
    color: var(--title)
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 64px 32px;
    border-radius: 32px;
}


form input{
    border: none;
    outline: none;
    height: 40px;
    font-size: 24px;
    padding: 24px 1rem;
    width: 100%;
}

form label{
    align-self: center;
    padding-left: 8px;
    font-size: 24px;
    justify-self: flex-end;
    user-select: none;
}

form button{
    background: none;
    border: none;
    background-color: var(--title);
    grid-column: span 2;
    height: 64px;
    margin-top: 32px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 16px;
    transition: 200ms;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form button > i{
    font-size: 28px;
}




form button:enabled{
    color: var(--body);
}


form button:hover:enabled{
    cursor: pointer;
    background-color: hsl(354, 100%, 68%);
    color: var(--body);
}

form button:active:enabled{
    background-color: hsl(354, 90%, 60%);;
}


.input-field{
    border-bottom: var(--title) solid 1px;
    margin-bottom: -1px;
    height: 48px;
}

.input-field:has(*:focus),
.input-field:focus{
    border-bottom: var(--title) solid 3px;
    margin-bottom: -3px;
}



.input-field, input{
    background-color: var(--body);
    width: 480px;
}



.pass-field, .user-field{
    overflow: hidden;
    display: flex;
}


.toggle-password, .icon{
    padding: 0 16px;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

.toggle-password{
    transition: 300ms;
}

.toggle-password:hover{
    cursor: pointer;
}
.toggle-password:active{
    cursor: pointer;
    background-color: var(--title);
}

.ph-x-circle{
    color: red;
}

.ph-check-fat{
    color: green
}

@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
}

.wrong{
    /* nome da animacao | funcao | delay | iteracoes */
    animation: shake 0.15s ease-in-out 0s 2;
    border-bottom: red solid 3px;
    margin-bottom: -3px;
}

.right{
    border-bottom: green solid 3px;
    margin-bottom: -3px;
}



@media  (orientation: portrait){
    main{
        width: 480px;
    }
}
