<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/cadastrar.css">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <meta name="viewport" content="width=device-width">
        <title>Orkut 2.0 | Login</title>
    </head>
    <body>
        {% if sucesso_cadastro == True %}
            <h3 style="background-color: lightgreen;" >Cadastro realizado com sucesso!</h3>
        {% endif %}
        <h3><a href="/cadastrar">Ou se cadastre</a></h3>
        <main>
            <h1>Faça o login</h1>
            <form method="POST">
                <div class="input-field user-field">
                    <input placeholder="Nome de usuário" type="text" id="user" name="usuario" required>
                </div>
                <div class="pass-field input-field">
                    <input class="pass" placeholder="Senha" type="password" id="password" name="senha" required>
                    <div class="toggle-password">
                        <i class="ph ph-eye"></i>
                    </div>
                </div>
    
                <button>
                    <p>Login</p>
                    <i class="ph-bold ph-user"></i>
                </button>
            </form>
        </main>
        <script src="/static/scripts/form.js"></script>
    </body>
    </body>
</html>