<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orkut 2.0 | Usuarios</title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
</head>
<body style="display: grid; gap: 20px; grid-template-columns: repeat(5, 1fr);">
    {% for user in usuarios %}
    <a style="background-color: aquamarine; padding: 0 20px; text-decoration: none; color: black;" href="/{{ user.usuario }}/posts">
        <p>Nome: {{ user.nome }} {{ user.sobrenome }}</p>
        <p>Usuario: {{ user.usuario }}</p>
        <p>Membro desde: {{ user.criado_em.strftime("%d/%m/%Y %H:%M") }}</p>
    </a>
    {% endfor %}
</body>
</html>